<%- include('includes/head.ejs') %>
  </head>

  <body>
    <%- include('includes/navigation.ejs') %>
      <main>
        <h1>Some server side error has occured</h1>
        <p>We are currently working on a fix sorry for the inconveniece.</p>
      </main>

      <%- include('includes/end.ejs') %>